{{#> layout}}
<h3>Authorising</h3>
<p>Welcome {{user.username}}!</p>
<p>Grant <b>{{client.name}}</b> access to your account?</p>

<button type="submit" class="btn btn-success">Approve</button>
<button type="submit" class="btn btn-danger">Deny</button>

{{/layout}}
